npm init
npm i express
npm i mongoose
npm i hbs // if use hbs
npm i dotenv
npm i express-async-handler
npm i bcryptjs
npm i jsonwebtoken
npmi cookie-parser

 "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "dev": "nodemon src/app.js -e js,hbs"
  },

  //frontend
  "name": "frontend-chatbud",
  "version": "0.1.0",
  "private": true,
  "proxy": "http://127.0.0.1:8000",   //same port no for both backend and frontend